<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDOLt18XbifeeX59AmPFsFAdg5Dv9lXnj8</string>
	<key>GCM_SENDER_ID</key>
	<string>884628679060</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.learn</string>
	<key>PROJECT_ID</key>
	<string>l-earn-8f2de</string>
	<key>STORAGE_BUCKET</key>
	<string>l-earn-8f2de.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:884628679060:ios:63869eb7ea50e5489c0781</string>
</dict>
</plist>